.button {
    padding: 15px 35px 15px 35px;
}

.btn-solid--red {        
    background: #ed3330;
    color: #fff;
}

.btn-solid--grey {        
    background: #b8b8b8;
    color: #fff;
}

.btn-transparent {
    color: #fff;
    border: 1px solid;
}