.modal {
    position: fixed;
    left: 0;
    top: 110px;
    width: 100%;
    height: 100%;
    background-color: rgba(109, 109, 109, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d6d6d6;
    background-color: white;
    width: 400px;
    text-align: center;
}
.close-modal {
    line-height: 1.5rem;
    cursor: pointer;
    color: #000;
    position: absolute;
    margin-top: 10px;
    left: 92%;
    font-size: 1.3em;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content a {
    color: #d6d6d6;
}
.modal-content button {
    width: 200px;
    color: #fff;
    padding: 15px 20px 15px 20px;
    margin: 0;
    border: none;
}
.modal-content input {
    border: none;
    border-bottom: 1px solid;
    padding: 15px 20px 12px 5px;
    font-size: .8em;
    width: 215px;
}