html {
    font-family: "canada-type-gibson";
}

body {
    margin: 0px;
    display: block;
}

h1,
h2,
h3 {
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    color: #ed3330;
}

h3 {
    font-size: 1em;
}

ul {
    -webkit-padding-start: 0px;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ed3330;
}

p {
    font-weight: 100;
}

header {
    height: 110px;
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
}

header img {
    height: 110px;
}

.Logo {
    margin: 0px 0px 0px 30px;
    font-size: 1.8em;
}

nav ul {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

nav a {
    margin-left: 60px;
    font-weight: 600;
    text-decoration: none;
}

.hero {
    background: linear-gradient( rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.45)), url(../images/Home-team-hi@2x.png);
    background-position: 0px;
    background-size: cover;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-content {
    color: #d6d6d6;
    width: 650px;
    text-align: center;
    font-size: 20px;
}

.hero-content h1 {
    color: #fff;
    font-size: 2.2em;
}

.grid {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.grid-item {
    width: 215px;
    margin: 20px 20px 20px 20px;
}

.pin-left {
    align-self: flex-start;
}

.pin-right {
    margin-left: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.icon--medium {
    width: 110px;
}

.shield-correction {
    width: 93px;
    height: 110px;
}

.text--center {
    text-align: center;
}

.clear-space {
    height: 90px;
}

.margin-right--80 {
    margin-right: 80px
}

.margin-top--50 {
    margin-top: 50px;
}

.margin-top--30 {
    margin-top: 30px;
}

.margin-bottom--30 {
    margin-bottom: 30px;
}